<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Singerdetail</title>
</head>

<body>
    <h1>Here is your graph!</h1>
    <h2>The list of the singers chosen:</h2>
    {{plot_div1 | safe}}
    <h2>The danceability of ten songs of {{singernn}}:</h2>>
    {{plot_div2 | safe}}
    <h2>The energy of ten songs of {{singernn}}:</h2>>
    {{plot_div3 | safe}}
    <h2>The tempo and danceability of ten songs of {{singernn}}:</h2>
    {{plot_div4 | safe}}
    <i>Hope you like it! 累死我了! &#128555</i>
</body>
</html>